
<main class="main">
  <div>
    <ul class="list-container">
      <li *ngIf="!members.length">
        <div>
          Add Team members
        </div>
      </li>
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
    <p class="error-msg" *ngIf="error">{{error}}</p>
  </div>
  <div>
    <input
      #memberInput
      [value]="memberName"
      type="text"
      placeholder="Enter name"
      (input)="onInputChange(memberInput.value)"
    >

    <button (click)="addMember()">Add</button>
  </div>
  <div>
    <input
      #numberOfTeamInput
      [value]="numberOfTeams"
      (input)="onNumberOfTeamChange(+numberOfTeamInput.value)"
      type="number"
      placeholder="Enter no. of teams">
    <button (click)="generate()" >Generate</button>
  </div>
  <div *ngIf="teams.length" class="teams-container">
  <app-team
    *ngFor="let team of teams; let i =index"
    [team]="team"
    [index]="i"
  >
  </app-team>
  </div>
</main>

