/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: karla, serif;
}
input {
  padding: 8px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
